.wrapper {
    width: 600px;
    margin: 20px auto;
}

.form.vertical {
    padding: 20px;
    display: inline-block;
    background: #ffffff;
}

.emphasise {
    font-weight: bold;
}

.turncounter {
    float: right;
}

.form.vertical > button,
.form.vertical > span {
    display: block;
    margin-top: 20px;
}

aside {
    width: 200px;
    margin-left: 40px;
    position: absolute;
    display: inline-block;
}

.player-color {
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 15px;
}

.current-player {
    font-weight: bold;
    background-color: #e2e3e5;
}

.next-turn-btn {
    margin-top: 20px;
}

/* colors */
.red {
    background-color: #dc3545;
}

.red-selected {
    background-color: #FF5B6B;
}

.blue {
    background-color: #007bff;
}

.blue-selected {
    background-color: #26A1FF;
}

.yellow {
    background-color: #ffc107;
}

.yellow-selected {
    background-color: #FFE72D;
}

.green {
    background-color: #28a745;
}

.green-selected {
    background-color: #4ECD6B;
}
