.wrapper {
    width: 600px;
    margin: 20px auto;
}

.form.vertical {
    padding: 20px;
    display: inline-block;
    background: #ffffff;
}

.form.vertical > button,
.form.vertical > span {
    display: block;
    margin-top: 20px;
}

.field {
    width: 350px;
    height: 200px;
    position: relative;
    background-color: #fff;
    border: 1px #000 solid;
}

aside {
    width: 200px;
    margin-left: 40px;
    position: absolute;
    display: inline-block;
}

.player-color {
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 15px;
}

.country {
    border: none;
    position: absolute;
    padding: 2px 0 3px 0;
    text-align: center;
    box-sizing: content-box;
    font: bold 24px 'Arial', sans-serif;
    height: 30px;
    width: 35px;
}

.red {
    background-color: #dc3545;
}

.blue {
    background-color: #007bff;
}

.yellow {
    background-color: #ffc107;
}

.green {
    background-color: #28a745;
}

.country {
    border: none;
    position: absolute;
    width: 35px;
    height: 30px;
    padding: 2px 0 3px 0;
    text-align: center;
    box-sizing: content-box;
    font: bold 24px 'Arial', sans-serif;
}

/* country positions */
.country-1 {
    bottom: 20px;
    left: 40px;
}

.country-2 {
    bottom: 40px;
    left: 75px;
}

.country-3 {
    bottom: 50px;
    left: 110px;
}

.country-4 {
    bottom: 30px;
    left: 145px;
}

.country-5 {
    top: 45px;
    left: 15px;
}

.country-6 {
    top: 10px;
    left: 45px;
}

.country-7 {
    top: 45px;
    left: 50px;
}

.country-8 {
    top: 10px;
    left: 80px;
}

.country-9 {
    top: 85px;
    right: 75px;
}

.country-10 {
    top: 50px;
    right: 65px;
}

.country-11 {
    top: 15px;
    right: 85px;
}

.country-12 {
    top: 15px;
    right: 50px;
}

.country-13 {
    top: 15px;
    right: 15px;
}

.country-14 {
    top: 50px;
    right: 30px;
}

.country-15 {
    bottom: 15px;
    right: 55px;
}

.country-16 {
    bottom: 35px;
    right: 20px;
}


/* continent connectors */
.lineThrough.lTor {
    background: linear-gradient(to bottom right, transparent 49%, black 49%, black 50%, transparent 50%);
}
.lineThrough.rTol {
    background: linear-gradient(to bottom left, transparent 49%, black 49%, black 50%, transparent 50%);
}
.connector1 {
    width: 25px;
    height: 44px;
    position: absolute;
    bottom: 74px;
    left: 70px;
}
.connector2 {
    width: 80px;
    height: 15px;
    position: absolute;
    bottom: 30px;
    left: 180px;
}
.connector3 {
    width: 35px;
    height: 25px;
    position: absolute;
    bottom: 70px;
    right: 40px;
}
.connector4 {
    width: 115px;
    height: 1px;
    position: absolute;
    top: 30px;
    left: 114px;
    background-color: black !important;
}
