.wrapper {
    width: 600px;
    margin: 20px auto;
}

.field {
    width: 350px;
    height: 200px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    border: 1px #000 solid;
}

aside {
    width: 200px;
    margin-left: 40px;
    position: absolute;
    display: inline-block;
}

.player-color {
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 15px;
}

.country {
    border: none;
    position: absolute;
    width: 35px;
    height: 30px;
    padding: 2px 0 3px 0;
    text-align: center;
    box-sizing: content-box;
    font: bold 24px 'Arial', sans-serif;
}

.red {
    background-color: #dc3545;
}

.blue {
    background-color: #007bff;
}

.yellow {
    background-color: #ffc107;
}

.green {
    background-color: #28a745;
}


/* continent connectors */
.lineThrough.lTor {
    background: linear-gradient(to bottom right, transparent 49%, black 49%, black 50%, transparent 50%);
}
.lineThrough.rTol {
    background: linear-gradient(to bottom left, transparent 49%, black 49%, black 50%, transparent 50%);
}
.connector1 {
    width: 25px;
    height: 44px;
    position: absolute;
    bottom: 74px;
    left: 70px;
}
.connector2 {
    width: 80px;
    height: 15px;
    position: absolute;
    bottom: 30px;
    left: 180px;
}
.connector3 {
    width: 35px;
    height: 25px;
    position: absolute;
    bottom: 70px;
    right: 40px;
}
.connector4 {
    width: 115px;
    height: 1px;
    position: absolute;
    top: 30px;
    left: 114px;
    background-color: black !important;
}
