.close {
    content: '';
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./../images/close.svg");
}

/* ---------- Result ---------- */
.trophy {
    content: '';
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    background-size: 100px;
    background-repeat: no-repeat;
    background-image: url("./../images/trophy.png");
    outline: none !important;
    border: none;
}


/* ---------- Dice ---------- */
input[type="checkbox"].dice:before,
.dice {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    font-weight: bold;
    background-size: 50px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("./../images/dice_white.png");
    outline: none !important;
    border: none;
}

input[type="checkbox"].dice:checked:before,
.dice.filled {
    background-image: url("./../images/dice_black.png");
}

.dice:disabled {
    opacity: 0.5;
}

input[type="checkbox"].dice{
    height: 75px;
    width: 0;
    margin-right: 50px;
    display: inline-block;
}

input[type="checkbox"].dice:after {
    content: 'OFF';
}

input[type="checkbox"].dice:checked:after {
    content: 'ON';
}
